.round {
  width: 50px;
  height: 50px;
  background: linear-gradient(
      45deg,
      rgba(60, 60, 60, 1),
      rgba(60, 60, 60, 1) 50%,
      rgba(10, 10, 10, 1) 50%,
      rgba(10, 10, 10, 1)
    );
  position: fixed;
  left: 5%;
  top: 5%;
  z-index: 21;
  border-radius: 50%;
  transition: all 1.2s;
}

div.lowRes {
  height: 100vh;
  width: 50vw;
  left: -55vw;
  top: 0;
  position: fixed;
  z-index: 21;
  border-right: 5px solid rgba(120, 120, 120, 1);
  background: linear-gradient(
      106.5deg,
      rgba(15, 15, 15, 1),
      rgba(15, 15, 15, 1) 50%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50.2%,
      rgba(25, 25, 25, 1) 50.2%,
      rgba(25, 25, 25, 1)
    );
  transition: all 1.2s;
  margin: 0;
  padding: 0;
  text-align: center;
}

.lowRes nav{
  color: white;
}

.lowRes p{
  border-bottom: 3px solid rgba(120, 120, 120, 1);
  margin: 0;
  padding: 20px 0;
}

.lowRes p:first-child{
  border-top: 3px solid rgba(120, 120, 120, 1);
  margin-top: 40px;
}

.menuLowRes {
  display: none;
}

svg.mlr{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

svg.mlr path{
  stroke-width: 70;
  stroke-linecap: round;
  stroke: #fff;
  fill: none;
  transition: all .5s ease-in-out;
}

/* In menu form */

.top_bar,
.bottom_bar{
  stroke-dasharray: 240px 910px;
}

.middle_bar{
  stroke-dasharray: 240px 240px;
}

/* In cross form */

.open .top_bar,
.open .bottom_bar{
  stroke-dashoffset: -650px;
}

.open .middle_bar{
  stroke-dasharray: 0px 220px;
  stroke-dashoffset: -120px;
}

@media screen and (max-width: 960px) {

  .menuLowRes {
    display: block;
  }

  div.lowRes {
    width: 25%;
    left: -30%;
  }

}

@media screen and (max-width: 600px) {

  div.lowRes {
    width: 50%;
    left: -55%;
  }

}
